<section id="licensed" class="licensed">
    <div data-aos="fade-up">
        <div class="title-licensed">
            <p>Licensed to appear before all uae courts</p>
        </div>
        <div class="img-licensed">
            <div>
                <img src="../../../assets/img/licensed/5.png" alt="" srcset="">
            </div>
            <div>
                <img src="../../../assets/img/licensed/4.png" alt="" srcset="">
            </div>
            <div>
                <img src="../../../assets/img/licensed/3.png" alt="" srcset="">
            </div>
            <div>
                <img src="../../../assets/img/licensed/2.png" alt="" srcset="">
            </div>
            <div>
                <img src="../../../assets/img/licensed/1.png" alt="" srcset="">
            </div>

        </div>
    </div>
</section>