<section id="articles" class="articles">
    <div class="section-header">
        <h2>ARTICLE</h2>
    </div>
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-6 mt-2">
                <span> september 21,2022</span>
                <div class="d-flex my-4">
                    <img src="../../../assets/img/articles/1.png" alt="" srcset="">
                    <h4>
                        Long haven for wealth, Dubai wil enforce UK court rulings
                    </h4>
                </div>
                <p class="my-4">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate consequatur doloremque quas
                    beatae nobis consequuntur, similique corporis minima aspernatur optio illum voluptates aut
                    necessitatibus porro officiis asperiores doloribus? Deleniti, quidem.
                </p>
                <a>
                    Read More
                </a>
            </div>
            <div class="col-md-6 mt-2">
                <span> september 21,2022</span>
                <div class="d-flex my-4">
                    <img src="../../../assets/img/articles/1.png" alt="" srcset="">
                    <h4>
                        Long haven for wealth, Dubai wil enforce UK court rulings
                    </h4>
                </div>
                <p class="my-4">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate consequatur doloremque quas
                    beatae nobis consequuntur, similique corporis minima aspernatur optio illum voluptates aut
                    necessitatibus porro officiis asperiores doloribus? Deleniti, quidem.
                </p>
                <a>
                    Read More
                </a>
            </div>
        </div>
    </div>
</section>