<!-- <section id="videoList" class="videoList">
    <div class="container padding-content">
        <div class="video-header">
            <h5>videoList</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, voluptates!</p>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="video-play">
                    <video>
                        <source src="../../../assets/video/2.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-md-5">
                list video
            </div>
        </div>
    </div>
</section> -->

<section id="videoList" class="videoList">
    <div class="container padding-content">
        <h4>Media (Multi Video)</h4>
        <div class="wrapper activity media activity-wrapper video" data-show-transcript-at-start="false">
            <div class="row">
                <div class="col-md-8">
                    <div class="video-and-transcript-wrapper">
                        <div class="video-wrapper">
                            <div align="center" class="embed-responsive embed-responsive-16by9">
                                <video class="embed-responsive-item" controls="controls" controlslist="nodownload"
                                    data-autoplay-on-select="true"
                                    poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-video-poster-01.jpg"
                                    crossorigin="anonymous" data-showing-captions="false">
                                    <source src="" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="transcript-wrapper group">
                            <div class="transcript-middle">
                                <div class="transcript-inner"></div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="video-toolbar">
                        <button class="btn-toggle-transcript">Show transcript</button>
                    </div> -->
                </div>
                <div class="col-md-4">

                    <ol class="media-library ">
                        <li class="media-library-item col-sm-3">
                            <button class="media-library-item-btn"
                                data-video-src="https://player.vimeo.com/external/215175080.hd.mp4?s=5b17787857fd95646e67ad0f666ea69388cb703c&amp;profile_id=119"
                                data-poster-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-video-poster-01.jpg"
                                data-captions-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-captions-01.vtt"
                                data-transcript-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-chapters-01.vtt">
                                <img alt="Thumbnail image of video" class="img-thumbnail"
                                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-video-thumbnail-01.jpg">
                                <h4 class="media-library-item-title">Video Title 1</h4>
                                <p class="media-library-item-summary">This is a longer test description</p>
                            </button>
                        </li>
                        <li class="media-library-item col-sm-3">
                            <button class="media-library-item-btn"
                                data-video-src="https://player.vimeo.com/external/207590826.hd.mp4?s=6a918d074abf8f3add7858018855524d384f6934&amp;profile_id=119"
                                data-poster-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-video-poster-02.jpg"
                                data-captions-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-captions-02.vtt"
                                data-transcript-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-chapters-02.vtt">
                                <img alt="Thumbnail image of video" class="img-thumbnail"
                                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-video-thumbnail-02.jpg">
                                <h4 class="media-library-item-title">Video Title 2</h4>
                                <p class="media-library-item-summary">This is a longer test description</p>
                            </button>
                        </li>
                        <li class="media-library-item col-sm-3">
                            <button class="media-library-item-btn"
                                data-video-src="https://player.vimeo.com/external/207590786.hd.mp4?s=bcd80c5d2f6bf1bbad3b1a670ef93861e72f9683&amp;profile_id=119"
                                data-poster-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-video-poster-03.jpg"
                                data-captions-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-captions-03.vtt"
                                data-transcript-src="">
                                <img alt="Thumbnail image of video" class="img-thumbnail"
                                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-video-thumbnail-03.jpg">
                                <h4 class="media-library-item-title">Video Title 3</h4>
                                <p class="media-library-item-summary">This is an even longer test description</p>
                            </button>
                        </li>
                        <li class="media-library-item col-sm-3">
                            <button class="media-library-item-btn"
                                data-video-src="https://player.vimeo.com/external/207590615.hd.mp4?s=c4bce1872859889c86b688c26c60ed2b5734de28&amp;profile_id=119"
                                data-poster-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-video-poster-04.jpg"
                                data-captions-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-captions-04.vtt"
                                data-transcript-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-transcript-04.txt">
                                <img alt="Thumbnail image of video" class="img-thumbnail"
                                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/sample-video-thumbnail-04.jpg">
                                <h4 class="media-library-item-title">Video Title 4</h4>
                                <p class="media-library-item-summary">This is an longer test description than the
                                    previous one
                                </p>
                            </button>
                        </li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
</section>