<section id="testimonials" class="testimonials">
    <div class="section-header">
        <h2>TESTIMONIALS</h2>
    </div>
    <div class="container padding-content">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-mobile">
                    <span class="span-black">
                        <img class="profile" src="../../../assets/img/testimonials/1.png" alt="" srcset="">
                    </span>
                    <h6><span>Lorem ipsum</span> dolor.
                        <img src="../../../assets/img/testimonials/quote.png" alt="" srcset="">
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, temporibus accusantium? Fuga,
                        qui
                        illo? Laborum!
                    </p>
                    <div class="rate">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <span class="span-black">
                        <img class="profile" src="../../../assets/img/testimonials/2.png" alt="" srcset="">
                    </span>
                    <h6><span>Lorem ipsum</span> dolor.
                        <img src="../../../assets/img/testimonials/quote.png" alt="" srcset="">
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, temporibus accusantium? Fuga,
                        qui
                        illo? Laborum!
                    </p>
                    <div class="rate">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <span class="span-black">
                        <img class="profile" src="../../../assets/img/testimonials/3.png" alt="" srcset="">
                    </span>
                    <h6><span>Lorem ipsum</span> dolor.
                        <img src="../../../assets/img/testimonials/quote.png" alt="" srcset="">
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, temporibus accusantium? Fuga,
                        qui
                        illo? Laborum!
                    </p>
                    <div class="rate">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                        <img src="../../../assets/img/testimonials/star.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>