/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #222222;
    --color-primary: #008374;
    --color-secondary: #f85a40;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {
    font-family: var(--font-default);
    color: var(--color-default);
  }
  
  a {
    color: var(--color-primary);
    text-decoration: none !important;
  }
  
  a:hover {
    color: #00b6a1;
    text-decoration: none;
    cursor: pointer;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9e9e9e !important;
    opacity: 1 !important; /* Firefox */
  }
/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .sections-bg {
    background-color: #f6f6f6b0;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 60px;
  }
  
  .section-header h2 {
    font-size: 32px;
    font-weight: 650;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-header h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .section-header p {
    margin-bottom: 0;
    color: #6f6f6f;
  }
  
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    position: relative;
    padding: 60px 0 0 0;
  }
  @media (min-width: 1365px) {
    .hero {
      background-attachment: fixed;
    }
  }
  .hero h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .hero p {
    color: #ffffffd6;
    font-weight: 400;
    margin-bottom: 30px;
    width: 30%;
    font-size: 0.8rem;
  }
  
  .hero .btn-get-started {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
  
  .hero .btn-get-started:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  .hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: #fff;
    font-weight: 600;
  }
  
  .hero .btn-watch-video i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
  }
  
  .hero .btn-watch-video:hover i {
    color: #fff;
  }
  
  @media (max-width: 640px) {
    .hero h2 {
      font-size: 36px;
    }
  
    .hero .btn-get-started,
    .hero .btn-watch-video {
      font-size: 14px;
    }
  }
  
  .hero .icon-boxes {
    margin: -40px 0 0 0;
  }
  
  @media (min-width: 1200px) {
    .hero .icon-boxes:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height : calc(50% + -10px);
    /*  height: calc(50% + 20px);*/
      background-color: #fff;
    }
  }
  
  .hero .icon-box {
    padding: 1rem;
    position: relative;
    overflow: hidden;
    background: var(--white);
    box-shadow: 3px 1px 20px 0px #00000054;
    transition: all 0.3s ease-in-out;
    z-index: 1030;
    height: 100%;
    width: 100%;
    /*text-align: center;*/
  }
  
  .hero .icon-box .title {
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 14px;
    width: 70%;
    padding: 0 1rem;
    border-right: 1px solid #ddd;
  }
  .hero .icon-box .title span{
    color: #d5ad36;
    font-size: 1.5rem;
  }
  .hero .icon-box .title a {
    color: #fff;
    transition: 0.3s;
  }
  
  .hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 48px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);
  }
  /*
  .hero .icon-box:hover {
    background: #009786;
  }
  */
  .hero .icon-box:hover .title a,
  .hero .icon-box:hover .icon {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .hero .icon-box .title{
      border: none;
    }
  }