<section id="client-number" class="client-number">
    <div class="content">
        <div class="box-content border-0">
            +15
        </div>
        <div class="box-content">
            +3000
        </div>
        <div class="box-content">
            0125
        </div>
        <div class="box-content">
            12
        </div>
    </div>
    <div class="text-content">
        <span class="title">
            YEARS IN THE MARKET
        </span>
        <span class="title">
            CLIENT DATABASE
        </span>
        <span class="title">
            PUBLICATIONS
        </span>
        <span class="title">
            EMPLOYEES
        </span>
    </div>
</section>