<footer id="footer" class="footer">

    <div class="container">
        <div class="img-logo">
            <img src="../../../../assets/img/header/1.png" alt="">
        </div>
        <div class="row gy-4">
            <div class="col-md-6 padding-col">
                <h5>STAY UPDATED</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Sequi, vitae Aliquam nam soluta dolore
                    facilis!</p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Subscribe</span>
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-6 padding-col">
                <nav id="navbar" class="navbar" >
                    <ul>
                      <li><a (click)="scroll('hero')" >Home</a></li>
                      <li><a >Consultation</a></li>
                      <li><a (click)="scroll('articles')" >Article</a></li>
                      <li><a >Cases</a></li>
                      <li><a >Library</a></li>
                      <li><a >Contact US</a></li>
                    </ul>
                  </nav>
                  <div class="social-media">
                    <div class="icon">
                        <img src="../../../assets/img/social-media/facebook.png" alt="" srcset="">
                    </div>
                    <div class="icon">
                        <img src="../../../assets/img/social-media/twitter.png" alt="" srcset="">
                    </div>
                    <div class="icon">
                        <img src="../../../assets/img/social-media/linkedin.png" alt="" srcset="">
                    </div>
                    <div class="icon">
                        <img src="../../../assets/img/social-media/instagram.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            Copyright @ 2023 | All Rights Reserved.
        </div>
    </div>
</footer>